<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contacts Bootstrap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

<!--    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/style.default.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>欢迎登录</h1>
                            </div>
                            <p>通讯录系统</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <form class="form d-flex align-items-center" th:action="@{/login}"  method="post">
                        <div class="content">
                            <form  class="form-validate" id="loginFrom">
                                <div class="input-group form-group">
                                    <label for="login-username" class="col-sm-2 control-label">用户名</label>
                                    <input id="login-username" type="text" name="username" required oninvalid="setCustomValidity('请输入用户名')" data-msg="请输入用户名"
                                           placeholder="用户名" value="admin" class="input-material">
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="basic-addon1">密码</span>
                                    <input id="login-password" type="password" name="password" required data-msg="请输入密码"
                                           placeholder="密码" class="input-material" aria-describedby="basic-addon1">
                                </div>
                                <button id="login" type="submit" class="btn btn-success">登录</button>
                                <div style="margin-top: -40px;">
                                    <!-- <input type="checkbox"  id="check1"/>&nbsp;<span>记住密码</span>
                                    <input type="checkbox" id="check2"/>&nbsp;<span>自动登录</span> -->
                                    <div class="custom-control custom-checkbox " style="float: right;">
                                        <input type="checkbox" class="custom-control-input" id="check1">
                                        <label class="custom-control-label" for="check1">记住密码&nbsp;&nbsp;</label>
                                    </div>
                                </div>
                            </form>
                            <br/>
                            <small>没有账号?</small><a href="/register" class="signup">&nbsp;注册</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/jquery.validate.min.js"></script><!--表单验证-->
<!-- Main File-->
<script src="bootstrap/js/front.js"></script>
<script>
    $(function () {
        /*判断上次是否勾选记住密码和自动登录*/
        var check1s = localStorage.getItem("check1");
        var oldName = localStorage.getItem("username");
        var oldPass = localStorage.getItem("password");
        if (check1s == "true") {
            $("#login-username").val(oldName);
            $("#login-password").val(oldPass);
            $("#check1").prop('checked', true);
        } else {
            $("#login-username").val('');
            $("#login-password").val('');
            $("#check1").prop('checked', false);
        }
    })
</script>
</body>
</html>